Options -MultiViews
DirectoryIndex index.html

<IfModule mod_rewrite.c>
RewriteEngine On

# If the browser history lands on "/pagina", serve "pagina.html"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^.]+)$ $1.html [L]

# If the browser history lands on "/pagina/", redirect to "pagina.html"
RewriteCond %{REQUEST_URI} ^/(.+)/$
RewriteCond %{DOCUMENT_ROOT}/%1.html -f
RewriteRule ^(.+)/$ /%1.html [R=302,L]
</IfModule>
